<section >
	<div class="container">
		<div class="mb-3 row">
			<label for="email" class="col-sm-2 col-form-label">Email Address</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="email" placeholder="Email" ng-model="email" required="required">
		    </div>
		</div>
		<div class="mb-3 row">
			<label for="firstname" class="col-sm-2 col-form-label">First Name</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="fname" placeholder="First Name" ng-model="fname" required="required">
		    </div>
 		</div>
 		<div class="mb-3 row">
			<label for="lastname" class="col-sm-2 col-form-label">Last Name</label>
		    <div class="col-sm-6">
		      <input type="text" class="form-control" name="lname" placeholder="Last Name" ng-model="lname" required="required">
		    </div>
 		</div>
 		
 	</div>
</section>